.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  border-radius: 5px;
  background-color: #9dc08b;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.date-container .month {
  font-size: 1.5rem;
}
.date-container .year {
  font-size: 1rem;
}
.date-container .date {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .date-container .month {
    font-size: 1rem;
  }
  .date-container .year {
    font-size: 0.75rem;
  }
  .date-container .date {
    font-size: 1rem;
  }
}
